.app-title {
    margin-left: 1rem;
}

.employees-table {
    .employees-th {
        position: relative;
        cursor: pointer;
        &:hover {
            background-color: #e1e6ec;
        }
    }
    .employees-th:after {
        content: "";
        display: none;
        width: 0;
        height: 0;
        margin-top: -5px;
        position: absolute;
        top: 21%;
        right: 15px;
    }
    .employees-th.asc:after {
        display: block;
        border-style: solid;
        border-width: 0 5px 10px 5px;
        border-color: transparent transparent darkgrey transparent;
    }
    .employees-th.desc:after {
        display: block;
        border-style: solid;
        border-width: 10px 5px 0 5px;
        border-color: darkgrey transparent transparent transparent;
    }
    .author {
        color: cadetblue;
    }
}